/* Global Drop Styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

/* Images */

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Global styles */

.container-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* phones screen */
.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;

  outline: 2px solid red;
  outline-offset: -2px;
}

/* tablets screen */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* desktop screen */

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 1157.97px) {
  svg {
    display: none;
  }
}

svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.image {
  width: 100%;
}

.navigation {
  display: flex;
  align-items: center;
}

main {
  flex-grow: 1;
}

input {
  font-family: inherit;
}

/* Icons Socials */

/* Hidden Headers  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CSS Custom Properties  */

/* Colors */

:root {
  --iris-color: #4d5ae5;
  --navyblue-color: #2e2f42;
  --slate-color: #434455;
  --white-color: #fff;
  --ocean-hover-focus: #404bbf;
  --cloud-color: #f4f4fd;
  --cornflower: #e7e9fc;
  --lightslate-color: #8e8f99;
  --green-color: #31d0aa;
  --navyblue-modal-color: #2e2f4266;
}

/* Header of main page and portfolio  */

.header-main-page {
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin: 0 auto;
  border-bottom: 1px solid var(--cornflower);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Navigation */

.link-logo-header {
  color: var(--iris-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  flex-shrink: 0;
}

@media screen and (min-width: 768px) {
  .link-logo-header {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .link-logo-header {
    margin-right: 76px;
  }
}

.accent-studio-header {
  color: var(--navyblue-color);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: var(--ocean-hover-focus);
}

.link:focus {
  color: var(--ocean-hover-focus);
}

.list-navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .list-navigation {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.link-navigation {
  color: var(--navyblue-color);
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0px 24px 0px;
}

.link-navigation:hover {
  color: var(--ocean-hover-focus);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link-navigation:focus {
  color: var(--ocean-hover-focus);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.current {
  position: relative;
  color: var(--ocean-hover-focus);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--ocean-hover-focus);
  height: 4px;
  opacity: 1;
}

/* Contact information */

.contact-information {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact-information {
    display: block;
    font-style: normal;
  }
}

@media screen and (min-width: 768px) {
  .link-contacts {
    color: var(--slate-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1158px) {
  .link-contacts {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
    color: var(--slate-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.link-contacts:hover {
  color: var(--ocean-hover-focus);
}

.link-contacts:focus {
  color: var(--ocean-hover-focus);
}

@media screen and (min-width: 1158px) {
  .contact-information {
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .list-contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .list-contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

/* Mobile menu for phone */

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  /* border-radius: 50%; */
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  z-index: 999;
  padding: 80px 35px 40px 40px;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: block;
  gap: 40px;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: var(--navyblue-color);
  /* color: #fff; */
  text-decoration: none;
}

.link-nav-menu {
  color: var(--navyblue-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.current-menu {
  color: var(--ocean-hover-focus);
}

.contact-information-menu {
  margin-top: auto;
  font-style: normal;
  margin-bottom: 48px;
}

.list-contacts-menu {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  list-style-type: none;
  text-decoration: none;
}

.link-menu-phone {
  color: var(--iris-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.link-menu-email {
  color: var(--slate-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
}

.icons-menu-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 56px;
}

/* Body of main page  */

body {
  font-family: "Roboto", sans-serif;
  color: var(--slate-color);
  background-color: var(--white-color);
}

/* Hero Section */

.main-header-section {
  background-color: var(--navyblue-color);
  width: 100%;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 112px 0px;
  max-width: 428px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office-mob-@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-resolution: 192dpi) {
  .main-header-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-mob-@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .main-header-section {
    max-width: 768px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-tabl-@1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .main-header-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-tabl-@2x.jpg);
  }
}

@media screen and (min-width: 1158px) {
  .main-header-section {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-desk-@1x.jpg);
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .main-header-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office-desk-@2x.jpg);
  }
}

.main-header-text {
  color: var(--white-color);
  max-width: 320px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
  .main-header-text {
    color: var(--white-color);
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .main-header-text {
    color: var(--white-color);
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 48px;
  }
}

.order-service-button {
  background-color: var(--iris-color);
  color: var(--white-color);
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover {
  background-color: var(--ocean-hover-focus);
}

.order-service-button:focus {
  background-color: var(--ocean-hover-focus);
}

/* Advantages and Competences  */

.advantages .competences {
  background-color: var(--white-color);
}

/* Advantages */

/* Phone Screen */

.advantages {
  padding-bottom: 96px;
  padding-top: 96px;
}

@media screen and (min-width: 1158px) {
  .advantages {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}

.list-advantages {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
}

.advantage-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .advantage-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .advantage-item {
    width: calc((100% - 72px) / 4);
  }
}

.advantage-icon-container {
  display: none;
}
@media screen and (min-width: 1158px) {
  .advantage-icon-container {
    width: 100%;
    padding: 24px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cloud-color);
    border-radius: 4px;
  }
}

.advantage-header {
  color: var(--navyblue-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  align-self: stretch;
}

@media (min-width: 768px) {
  .advantage-header {
    text-align: left;
  }
}

@media (min-width: 1158px) {
  .advantage-header {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
}

.advantage-descr {
  color: var(--slate-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  align-self: stretch;
}

@media (min-width: 768px) {
  .advantage-descr {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .advantage-descr {
    text-align: left;
    font-weight: 400;
  }
}

/* Competences */

.competences {
  display: none;
}

@media screen and (min-width: 1158px) {
  .competences {
    display: block;
    padding-top: 60px;
    padding-bottom: 120px;
  }

  .competences-header-text {
    color: var(--navyblue-color);
    text-align: center;

    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
  }

  .list-competences {
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .competence-item {
    width: calc((100% - 48px) / 3);
  }
}

/* Our Team  */

.team-members {
  padding: 96px 0px;
  background-color: var(--cloud-color);
}

@media screen and (min-width: 768px) {
  .team-members {
    padding-left: 108px;
    padding-right: 108px;
  }
}

@media screen and (min-width: 1158px) {
  .team-members {
    padding: 120px 0;
  }
}

.team-members-header {
  color: var(--navyblue-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.list-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 24px;
}

@media screen and (min-width: 1158px) {
  .list-members {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
}

.member-item {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .member-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .member-item {
    width: calc((100% - 72px) / 4);
  }
}

.image-member {
  width: 100%;
}

.member-title {
  color: var(--navyblue-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.member-position {
  color: var(--slate-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.member-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 32px 0;
}

.member-icons-list {
  list-style-type: none;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.member-icons-item {
  width: 40px;
  height: 40px;
}

.member-instagram-account {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris-color);
  border-radius: 50%;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-instagram-account:hover {
  background-color: var(--ocean-hover-focus);
}

.member-instagram-account:focus {
  background-color: var(--ocean-hover-focus);
}

.member-icon-item {
  fill: var(--cloud-color);
}

/* Customers section */

.customers {
  padding: 96px 0px;
}

@media screen and (min-width: 768px) {
  .customers {
    padding: 96px 108px;
  }
}

@media screen and (min-width: 1158px) {
  .customers {
    padding: 120px 0px;
  }
}

.customers-title {
  color: var(--navyblue-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.customers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 16px;
}

@media screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .customers-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

@media screen and (min-width: 768px) {
  .customers-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }
}

@media screen and (min-width: 1158px) {
  .customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
}

.customers-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 16px 40px;
  border-radius: 4px;
  border: 1px solid var(--lightslate-color);
  color: var(--lightslate-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .customers-item-link {
    padding: 16px 32px;
  }
}

.customers-logo {
  fill: currentColor;
}

.customers-item-link:hover {
  color: var(--ocean-hover-focus);
  border-color: var(--ocean-hover-focus);
}

.customers-item-link:focus {
  color: var(--ocean-hover-focus);
  border-color: var(--ocean-hover-focus);
}

/* Body of portfolio  */

.main-of-portfolio {
  background-color: var(--white-color);
}

/* Buttons of portfolio  */

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-buttons-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
  min-width: 586px;
  /* outline: 2px solid tomato; */
}

.portfolio-button {
  color: var(--iris-color);
  background-color: var(--cloud-color);
  cursor: pointer;
  /* Button Text */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* outline: 2px solid tomato; */
}

.portfolio-button:hover {
  color: var(--white-color);
  background-color: var(--ocean-hover-focus);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-button:focus {
  color: var(--white-color);
  background-color: var(--ocean-hover-focus);
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* Portfolio cases  */

.list-cases {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.case-item {
  width: calc((100% - 48px) / 3);
}

.case-text {
  display: flex;
  padding: 32px 16px 32px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-right: 1px solid var(--cornflower);
  border-bottom: 1px solid var(--cornflower);
  border-left: 1px solid var(--cornflower);
}

.portfolio-case {
  color: var(--navyblue-color);

  /* Header 3 */
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-case-descr {
  color: var(--slate-color);

  /* Body */
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
}

.case-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.case-link:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.case-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.case-wrapper {
  position: relative;
  overflow: hidden;
}

.case-text-backdrop {
  background-color: var(--iris-color);
  color: var(--cloud-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.case-link:hover .case-text-backdrop {
  transform: translateY(0%);
}

.case-link:focus .case-text-backdrop {
  transform: translateY(0%);
}

/* Footer of the main page and portfolio */

.footer {
  background-color: var(--navyblue-color);
  margin-left: auto;
  margin-right: auto;
  padding: 96px 0px;
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0px;
  }
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 72px;
  column-gap: 24px;
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157.98px) {
  .container-footer {
    padding-left: 108px;
    padding-right: 108px;
  }
}

@media screen and (min-width: 1158px) {
  .container-footer {
    align-items: baseline;
    display: flex;
    column-gap: 0px;
  }
}

/* Logo and credo */

.link-logo-footer {
  color: var(--iris-color);
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
  flex-shrink: 0;
}

.accent-studio-footer {
  color: var(--cloud-color);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.credo {
  color: var(--cloud-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .credo {
    width: 264px;
  }
}

@media screen and (max-width: 767.98px) {
  .container-logo-credo {
    padding: 0px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1158px) {
  .container-logo-credo {
    margin-right: 120px;
  }
}

/* Social container */

@media screen and (max-width: 767.98px) {
  .footer-container-social {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1158px) {
  .footer-container-social {
    margin-right: 80px;
  }
}

.social-footer-title {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.icons-footer-list {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

.icons-footer-item {
  width: 40px;
  height: 40px;
}

.icons-footer-link {
  background-color: var(--iris-color);
  border-radius: 50%;
  padding: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-footer-link:hover {
  background-color: var(--green-color);
}

.icons-footer-link:focus {
  background-color: var(--green-color);
}

.icon-footer-social {
  fill: var(--cloud-color);
}

/* Subscribe container */

@media screen and (max-width: 767.98px) {
  .form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.subscribe-title {
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
}

.subscribe-input {
  width: 100%;
  max-width: 398px;
  height: 40px;
  padding-left: 16px;
  color: var(--white-color);
  background: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

@media screen and (min-width: 428px) {
  .subscribe-input {
    min-width: 398px;
  }
}

@media screen and (min-width: 768px) {
  .subscribe-input {
    min-width: 0px;
    width: 264px;
  }
}

.subscribe-footer-button {
  width: 165px;
  height: 40px;
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background: var(--iris-color);
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .subscribe-footer-button {
    min-width: 165px;
  }
}

.subscribe-icon {
  margin-left: 16px;
}

/* Modal Window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  padding: 72px 16px 24px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 392px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }
}

.button-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.button-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.button-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-title {
  color: var(--navyblue-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.label-wrapper {
  margin-bottom: 8px;
}

.order-label {
  color: var(--lightslate-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
}

.input-area {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding-left: 34px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1158px) {
  .input-area {
    padding-left: 38px;
  }
}

.input-area:hover,
.input-area:focus {
  border-color: #4d5ae5;
}

.icon-input {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-area:focus + .icon-input {
  fill: #4d5ae5;
}

.label-comment-text {
  margin-bottom: 4px;
}

.label-wrapper-comment {
  margin-bottom: 16px;
}

.user-comment-area {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-comment-area:focus {
  border-color: #4d5ae5;
}

.checkbox-wrapper {
  margin-bottom: 24px;
}

.label-privacy-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

input[type="checkbox"]:checked + .order-label .label-privacy-icon {
  border: none;
  background-color: var(--ocean-hover-focus);
  fill: #f4f4fd;
}

.privacy-link {
  color: var(--iris-color);
}

.order-button {
  display: block;
  min-width: 169px;
  height: 56px;
  color: var(--white-color);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
